@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
.team-area .team-header h1{
    text-align: center;
    font-size: 80px;
    font-weight: 900;
}
.team-area .team-header p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    width: 60%;
    margin: auto;
}
.team-area{
  .team-body{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    .team-iteam{
        width: 27%;
        text-align: center;
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        h2{
            text-align: center;
        }
        p{
            text-align: center;
            font-weight: 300;
        }
    }
  }  
}